@import 'src/styles/vars';

.steps {
  background-color: #ccc;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  font-size: 1.2em;

  .step {
    line-height: 1.5;
    position: relative;
    padding-left: 1.6em;

    // on ajoute un pseudo-élément pour la décoration
    // https://developer.mozilla.org/en-US/docs/Web/CSS/::before
    // .step::before
    &::before {
      // content est indispensable (même si c'est content: ""), sinon le pseudo-
      // élément ne s'affiche pas
      content: "";
      display: block;
      width: 1.2rem;
      height: 1px;
      background-color: $mainColor;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }
}