@import '../../styles/vars';

.header {
  background-color: $titleBackground;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-title {
    color: #222;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
  }
}
