@import '../../styles/vars';

.navigation {

  .sidebar {
    position: fixed;
    float: left;
    padding: 2em;
    width: 20%;
  
  
    .sidebar-item {
      line-height: 1.2em;
      padding: 0.5em;
      font-size: 1.2em;
  
      &:hover {
        color: $mainColor;
      }
    }
  }
}

